
body{
   background-image: url('../img/1234.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   
}


.spinner{
   text-align: center;
   display: none;   
}
.spinner img{
   width:60px;
   height:60px;

}